.slider-wrapper {
	width: 100%;
	position: relative;
	height: 600px;
	overflow: hidden;
	margin: 0 auto;
	background-color: black;
  }
  
  .slide {
	height: 30vh;
	background-position-x: 100% !important;
  }
  
  .slide::before {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background:linear-gradient(
	  linear,
	  left top,
	  left bottom,
	  from(transparent),
	  to(rgba(0, 0, 0, 0.9))
	);
	background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
	bottom: 0;
	left: 0;
  }
  
  .previousButton,
  .nextButton {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
	background: url("https://image.flaticon.com/icons/png/512/327/327619.png") no-repeat center center /
	  40px;
	width: 45px;
	height:45px;
	background-color: white;
	border-radius: 100%;
	text-indent: -9999px;
	cursor: pointer;
  }
  
  .previousButton:hover,
  .nextButton:hover {
	background: url("https://image.flaticon.com/icons/png/512/327/327619.png") no-repeat center center /
	  75px;
	  background-color:white;
  }
  
  .previousButton {
	left: 1.5%;
	-webkit-transform: rotate(180deg) translateY(calc(50% + 0px));
	transform: rotate(180deg) translateY(calc(50% + 0px));
  }
  
  .previousButton:hover {
	background-size: 55px;
  }
  
  .nextButton {
	right: 1.5%;
  }
  
  .nextButton:hover {
	background-size: 55px;
  }
  
  
  .slider-content .inner {
	color: white;
	box-sizing: border-box;
	position: absolute;
	max-width: 70%;
	top: 45%;
	left: 23%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  }
  
  
  .slider-content .inner h1 {
	font-weight: 300;
	margin: 20px auto;
	max-width: 500px;
	color: #ffffff;
	font-size: 65px;
	line-height: 1.4;
  }
  
  .slider-content .inner h3 {
	margin:10px auto;
	font-weight: 300;
	color: #ffffff;
	font-size: 40px;
	line-height: 1.5;
	width: 100%;
	text-transform:uppercase;
  }

  
  @media (max-width: 960px) {
	.slider-wrapper,
	.slide {
	  max-width: 1000px;
	  height: calc(80vh - 25vh);
	  position: relative;
	}
	.nextButton {
		background-size: 25px;
		width: 35px;
		height: 35px;
	  } 
	  .nextButton:hover{
		background-size: 30px;
	  }
	  .previousButton{
		  background-size: 25px;
		  width: 35px;
		  height: 35px;
	  }
	  .previousButton:hover{
		  background-size: 30px;
	  }
  }

  
  @media (max-width: 960px) {
	.slider-content .inner{
		padding: 0;
		left: 24%;
		margin:5px
	}
	.slider-content .inner h1 {
	  font-size: 20px;
	}
	.slider-content .inner h3 {
		font-size: 30px;
	}
  }
  
  @media (max-height: 640px) {
	.slider-wrapper,
	.slide {
	  height: calc(100vh - 75px);
	}
  }
  
  @media (max-width: 600px) {
	.slider-wrapper,
	.slide {
	  max-width: 900px;
	  height: calc(80vh - 40vh);
	  position: relative;
	}
	 .nextButton {
		right: 0;
		background-size: 25px;
		width: 30px;
		height: 30px;
	  } 
	  .nextButton:hover{
		background-size: 30px;
	  }
	  .previousButton{
		  background-size: 25px;
		  width: 30px;
		height: 30px;
	  }
	  .previousButton:hover{
		  background-size: 30px;
	  }
  }

  
  @media (max-width: 600px) {
	.slider-content .inner{
		padding: 0;
		left: 24%;
		margin:5px
	}
	.slider-content .inner h1 {
	  font-size: 15px;
	}
	.slider-content .inner h3 {
		font-size: 20px;
	}
  }

